h1{
 color:  rgb(224, 204, 232);
 text-align: center;
 font-size: 40px;
 font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
 font-style: italic;
 text-shadow: 1px 1px rgb(177, 155, 63);
 background-color: rgb(245, 245, 151);
border-radius: 50px;
padding:50px;

}
 form:hover{
    
    color:rgb(13, 49, 13);
    text-align: left;
    padding: 45px;
    gap:10;
    box-shadow: 0 0  10px  rgb(112, 110, 121);
    border-radius:10px;
    margin-bottom:0px;
    background-color:rgb(224, 200, 224);
}
.form input,
.form textarea{
    color:rgb(168, 36, 197);
    background-color:white;
    border: 2px solid rgb(180, 224, 23);
    border-radius: 15px;
    padding:5px;

    
}
 
 .form input,
.form label{
  color:rgb(251, 250, 247);
}

.body{
    background-color: rgb(123, 165, 183);
    margin-bottom:4px;
    border-radius: 5px;
    padding:40px;
    box-shadow: 0 0 20px  rgb(236, 236, 120);
  box-shadow: 0 0 500px inset rgb(206, 206, 88);
}

button{
    color:rgb(243, 243, 82);
    background-color:rgb(83, 55, 138);
    border: 1px solid rgb(213, 246, 49);
    margin-left: 420px;
    padding: 30px;
    border-radius: 15px;
    margin-bottom:40px;
    justify-content: space-evenly;
    box-shadow:  0 0 10px inset rgb(142, 159, 56);
}
.pr{
   accent-color:rgb(238, 185, 9);
    

}
.ao{
  color:rgb(182, 68, 235);
  background-color: black;
  border:black;
}
.card::after{
  content:'';
  width:100%;
  height:100%;
  border: 2px solid purple;
  color: blue;
  padding:13px;
  background-color: rgb(228, 36, 19);
  position:relative;
  top:50%;
  left:50%;
  translate: -50% -50%;
  z-index: -1;


}
.big{
  position:absolute;
}
  
