h1{
 color:  rgb(6, 54, 6);
 text-align: center;
 font-size: 26px;
 font-family:Verdana, Geneva, Tahoma, sans-serif;
 

}
 form{
    
    color:rgb(13, 49, 13);
    text-align: left;
    padding: 24px;
    border: 4px double rgb(7, 43, 7);
    gap:10;
    box-shadow: 0 0  100px inset rgba(8, 54, 8);
    border-radius:20px;
    margin-bottom:0px;
    background-color:rgb(177, 217, 177);
}
.form input,
.form textarea{
    color:rgb(7, 72, 7);
    background-color:white;
    border: 2px solid darkgreen;
    border-radius: 15px;
    padding:5px;
    
}
 
.body{
    background-color: rgb(149, 218, 149);
    margin-bottom:4px;
    border-radius: 15px;
    border:4px solid rgb(6, 54, 6);
    padding:40px;
    box-shadow: 0 0 20px inset rgb(12, 56, 12);
    
}

button{
    color:rgb(11, 45, 11);
    background-color:white;
    border: 3px solid darkgreen;
    margin-left: 1040px;
    padding:5px;
    word-spacing: 1px;
    border-radius: 15px;
    margin-bottom:3px;
}
.pr{
   accent-color:darkgreen;
    

}